$blue: #005eb8;
$lightBlue: #22a7f0;
$lightBlue2: #e4f1f9;
$hoverBlue: #005e80;
$lightHoverBlue: #ebf5ff;
$warningRed: #c00;
$grey: #666666;
$lightGrey: #D3D3D3;
$black1: rgb(68, 68, 68);
$grey1: #bdbdbd;