@import "mixins";

.filterFieldContainer {
  width: 100%;
  margin-bottom: 5px;
}

.filterFieldLabel {
  font-weight: lighter;
  margin: 0;
  font-size: initial;
  cursor: pointer;
  @include user-select(none);
}

.checkboxx {
  position: relative;
  height: auto;
  margin: 0 10px 0 10px !important;
}
